@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.navbar {
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  background-color: rgba(223, 239, 249, 0);
}

.navbar.scrolled {
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.1);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inter;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.prose {
  body {
    font-family: inter, sans-serif;
    background-color: white;
    color: black;
    font-size: 16px;
}
/* .prose.dark {
  body {
    background-color: #101318;
    color: #dfeff9;
  }
} */

/* Heading (h2) */
h2,h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #101318;

  .dark & {
    color: #dfeff9;
  }
}

hr {
  border: none;
  height: 2px; 
  margin: 1.5rem 0; 
}

/* Paragraph (p) */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #0c0e10;

  .dark & {
    color: #dfeff9;
  }
}

/* List Item (li) */
li {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #101318;

  .dark & {
    color: #dfeff9;
  }
}

/* Blockquote (blockquote) */
blockquote {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-style: italic;
  color: #555;
  border-left: 4px solid #0073e6;
  padding-left: 1rem;
}

/* Emphasis (em) */
em {
  font-weight: 600;
  color: #0073e6;
}

/* Link (a) */
a {
  color: #0073e6;
  text-decoration: underline;
}


}

